@import "../../../../styles/Variables.scss";

.category-navigation {
  background-color: $color-black;
  padding-block: 1.4rem;
  &__links {
    justify-content: space-between;
  }
  &__item {
    font-size: $font-size-sm;
    font-weight: 600;
  }
  &__item--offers &__link {
    color: $color-accent;
  }
  &__link {
    text-decoration: none;
    color: $color-white;
  }
}
