@import "../../../styles/Variables.scss";
@import "../../../styles/Responsive.scss";

.subscribe {
  &__title {
    font-size: $font-size-sm-2;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  &__input {
    width: 100%;
    padding: 1.95rem;
    border-radius: 100rem;
    @include respond(phone) {
      padding: 1.4rem;
    }
    &::-webkit-input-placeholder {
      color: $color-secondary;
      font-size: $font-size-sm;
    }
  }
  &__submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.7rem;
    border-radius: 100rem;
    border: none;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    font-weight: 600;
    background-color: $color-primary;
    font-size: $font-size-label;
    gap: 0.7rem;
    @include respond(phone) {
      width: auto;
      right: 0;
    }
    @include respond(small-phone) {
      width: auto;
      right: 1.2rem;
    }
  }
}
