.product-main-image {
  // background-image: url("../../../../images/product-main-image@2x.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  height: 59rem;
  position: relative;
  // height: 100%;
}

.product-main-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
