@import "../../../../styles/Responsive.scss";

.product-main-image {
  height: 59rem;
  position: relative;
  @include respond(phone) {
    min-height: 59rem;
  }
}

.product-main-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
