@import "../../../../styles/Variables.scss";

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-black;
  padding-block: 1.25rem;
  &__links {
    gap: 3.2rem;
    font-weight: 600;
    font-size: $font-size-default;
  }
  &__link {
    &--icon {
      margin-right: 0.8rem;
    }
    &--text {
    }
  }
  &__cart-icon {
    position: relative;
    &--counter {
      position: absolute;
      top: -0.4rem;
      right: -0.4rem;
      background: $color-primary-light;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 100rem;
      font-size: 1.1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
