@import "../../../styles/Variables.scss";
@import "../../../styles/Responsive.scss";

.modal {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 47.5rem;
  background-color: $color-white;
  z-index: 999;
  @include respond(small-phone) {
    width: 39.5rem;
  }
}
