@import "../../styles/Variables.scss";

.similar-products {
  &__description {
    color: $color-gray-dark-3;
    font-size: $font-size-md-2;
    font-weight: 300;
  }
  & a {
    text-decoration: none !important;
  }
}
