@import "../../../styles/Variables.scss";

.product-info {
  &__category {
    color: $color-gray-dark;
    font-size: $font-size-default;
    font-weight: 600;
  }
  &__ctas {
    display: flex;
    margin-top: 2.7rem;
    & > button:first-child {
      margin-right: 3.2rem;
    }
  }
}
