@import "../../../styles/Variables.scss";

.product-info {
  // &__title {
  //   color: $color-gray-dark-5;
  //   font-size: $font-size-sm-2;
  //   font-weight: 600;
  //   margin-block: 2rem 1rem;
  // }
  &__category {
    color: $color-gray-dark;
    font-size: $font-size-default;
    font-weight: 600;
  }
  &__ctas {
    display: flex;
    margin-top: 2.7rem;
    & > button:first-child {
      margin-right: 3.2rem;
    }
  }
}
