@import "../../styles/Variables.scss";

.product-info {
  &__title {
    color: $color-gray-dark-5;
    font-size: $font-size-sm-2;
    font-weight: 600;
    margin-block: 2rem 1rem;
  }

  &__stars {
    display: flex;
    column-gap: 0.5rem;
    &--star {
      svg > path {
        fill: $color-tertiary;
      }
      &-active {
        svg > path {
          fill: $color-gray-light-2;
        }
      }
    }
  }
  &__rate-value {
    color: $color-black;
    font-size: $font-size-sm;
    font-weight: 600;
  }

  &__price {
    font-size: $font-size-xl;
    color: $color-secondary;
    font-weight: 600;
  }

  &__discount {
    background: $color-primary;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: $font-size-xs;
    color: $color-black;
    font-weight: 400;
  }

  &__old-price {
    color: $color-gray-dark;
    font-size: $font-size-default;
    font-weight: 600;
  }
}

.image-360 {
  display: inline-block;
  background: $color-white;
  padding: 0.5rem;
  border-radius: 4px;
  position: absolute;
  top: 2rem;
  left: 2rem;
}
