@import "../../../../styles/Variables.scss";

.product-rate {
  justify-content: space-between;
  width: 70%;
  margin-top: 1.5rem;
  &__stars {
    display: flex;
    column-gap: 0.5rem;
    &--star {
      svg > path {
        fill: $color-tertiary;
      }
      &-active {
        svg > path {
          fill: $color-gray-light-2;
        }
      }
    }
  }
  &__rate-value {
    color: $color-black;
    font-size: $font-size-sm;
    font-weight: 600;
  }
  &__rate-counter {
    color: $color-gray-dark-3;
    font-size: $font-size-xs-2;
    font-weight: 500;
  }
}
