@import "../../../../styles/Variables.scss";

.product-rate {
  justify-content: space-between;
  width: 70%;
  margin-top: 1.5rem;
  &__rate-counter {
    color: $color-gray-dark-3;
    font-size: $font-size-xs-2;
    font-weight: 500;
  }
}
