@import "../../../../styles/Variables.scss";
@import "../../../../styles/Responsive.scss";

.uppernav {
  background-color: $color-primary-light;
  padding: 0.8rem;
  color: $color-black;
  &__container {
    justify-content: space-between;
    @include respond(phone) {
      flex-direction: column;
      row-gap: 2rem;
    }
    & > div,
    & > ul {
      display: flex;
      align-items: center;
    }
  }
  &__logo {
    &--burger {
      margin-right: 3.2rem;
    }
  }
  &__offer {
    &--text {
      font-size: $font-size-xs;
      margin-inline: 1rem;
    }
    &--shop {
      font-weight: 500;
      color: inherit;
    }
    &--mob {
      display: none;
      @include respond(tab-land) {
        display: flex !important;
        justify-content: center;
        padding: 1rem;
        background: $color-primary-dark;
        margin-bottom: 1rem;
      }
    }
  }
  &__links {
    gap: 3.2rem;
  }
  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $color-black;
    &--icon {
      margin-right: 1rem;
    }
    &--text {
      font-size: $font-size-xs;
      font-weight: 500;
    }
  }
}
