.product-main-image {
  background-image: url("../../../../images/product-main-image@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 59rem;
  position: relative;
  // height: 100%;
}
