@import "../../../../styles/Variables.scss";
@import "../../../../styles/Responsive.scss";

.sub-footer {
  margin-top: 4rem;
  justify-content: space-between;
  @include respond(phone) {
    flex-direction: column;
    row-gap: 3rem;
  }
  &__payments {
    display: flex;
    gap: 1rem;
  }
  &__payment {
    height: 4rem;
    &--img {
      height: 100%;
    }
  }
  &__poweredby {
    font-weight: 400;
    font-size: $font-size-xs;
    gap: 0.8rem;
  }
}
